@model List<List<object>>

@{
    ViewBag.Title = "Report Details";
    var pixel = Model.Count * 35;
}

@section script{
    <script>
        google.load("visualization", "1", { packages: ["corechart"] });
        google.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable(@Html.Raw(Json.Encode(Model)));

            var options = {
                title: 'Compare to other respondents',
                vAxis: { title: 'Questions', titleTextStyle: { color: 'red' } },
                chartArea: { top: 0, height: '100%' }
            };

            var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }
    </script>
}

<h2>Report details: @ViewBag.uniqueid</h2>
<div id="chart_div" style="width: 900px; min-height:@(pixel)px; margin-top:20px;"></div>



